@{
    Layout = "_LayoutVazio";
}

<body class="fp-page">
    <div class="fp-box">
        <div class="logo">
            <a href="javascript:void(0);"><h2 style="color: #314b49">Recuperação de senha</h2></a>
            <small style="color: #3f4141">Digite suas credências para a recuperação</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="forgot_password" method="POST">
                    <div class="msg">
                        <h6 style="color: gray;font-weight:100 !important">
                            Digite o seu email registrado. Nós vamos enviar um email com um link para sua senha ser substituida.
                        </h6>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            <input type="email" class="form-control" name="email" placeholder="Email" required autofocus>
                        </div>
                    </div>

                    <button class="btn btn-block btn-lg bg-greenNew waves-effect" type="submit">Enviar</button>

                    <div class="row m-t-20 m-b--5 align-center">
                        <a href="@Url.Action("Index", "Login")">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>