
<div class="content clearfix">
    <button type="button" data-toggle="modal" data-target="#largeModalCertificacoes" class="btn btn-lg bg-greenNew waves-effect" style="position: relative;float: right;">+ Adicionar Certificação</button>
</div>

<br />

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="content clearfix">
            <div class="table-responsive">
                <table id="tblCertificacoes" class="table table-bordered table-striped table-hover dataTable js-exportable" style="visibility:hidden;">
                    
                </table>
            </div>
        </div>

        <div class="actions clearfix"></div>
    </div>
</div>

<partial name="~/Views/DadoPessoal/_CertificacoesAdicionar.cshtml" />