<div class="modal fade" id="largeModalCertificacoes" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Adicionar Certificação</h4>
            </div>

            <hr />

            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <label>Nome do Curso</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="DMCENomeCurso" class="form-control" placeholder="Digite o nome completo ">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-6">
                        <label>Emissor</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="DMCEEmissor" class="form-control" placeholder="Digite o emissor">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>Instituição</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="DMCEInstituicao" class="form-control" placeholder="Digite o nome da instituição">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-6">
                        <label>Data de Início</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="date" id="DMCEDataInicio" class="form-control" placeholder="Digite a data de início do curso">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>Data de Conclusão</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="date" id="DMCEDataConclusao" class="form-control" placeholder="Digite a data de conclusão do curso">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-6">
                        <label>Carga Horária</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="DMCECargaHoraria" class="form-control" placeholder="Digite a carga horária">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>Diploma ou Certificado</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="file" id="DMCEDiplomaCertificado" class="form-control" placeholder="Anexar diploma ou certificado">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" id="btnCertificacaoAdd" onclick="adicionarCertificacao();" class="btn bg-greenNew waves-effect right" style="margin-left:10px">Adicionar</button>
                <button type="button" id="btnCertificacaoClose" class="btn bg-deafult waves-effect right" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>