<div class="row clearfix">
    <div class="col-sm-4">
        <h4>Dados Sociais</h4>
    </div>
</div>
<div class="row clearfix">
    <div class="col-sm-4">
        <label>Título</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" placeholder="Digite seu título">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Nome Social</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" placeholder="Digite seu nome e sobrenome">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Data de Nascimento</label>
        <div class="form-group">
            <div class="form-line">
                <input type="date" class="form-control date" placeholder="Digite sua data de nascimento">
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-12">
        <label>Foto</label>
        <div class="form-group">
            <div class="form-line">
                <input type="file" class="form-control">
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-7">
        <label>E-mail</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" placeholder="Digite seu email">
            </div>
        </div>
    </div>
    <div class="col-sm-1">
        <label>DDD</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" placeholder="DDD" width="30">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Telefone Pessoal</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" placeholder="00000-0000">
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-7">
        <label>Contato para Emergêcias</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" placeholder="Com quem podemos deixar recado?">
            </div>
        </div>
    </div>
    <div class="col-sm-1">
        <label>DDD</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" placeholder="DDD" width="30">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Telefone para Emergêcias</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" placeholder="00000-0000">
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-6">
        <label>Gênero</label>
        <div class="form-group">
            <select>
                <option value="">Selecione</option>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
        </div>
    </div>
    <div class="col-sm-6">
        <label>Estado Civil</label>
        <div class="form-group">
            <select>
                <option value="">Selecione</option>
                <option value="C">Casado</option>
                <option value="S">Solteiro</option>
                <option value="D">Divorciado</option>
                <option value="V">Viúvo</option>
            </select>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-6">
        <label>Nome da Mãe</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" placeholder="Digite o nome da mãe">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <label>Nome do Pai</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" placeholder="Digite o nome do pai">
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-6">
        <label>Nome do Cônjugue</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" placeholder="Digite o nome do cônjugue">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <input type="checkbox" id="PossuiDeficiencia" name="PossuiDeficiencia" checked>
            <label for="Naturalizado">Possui Deficiência</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <input type="checkbox" id="PossuiDependentes" name="PossuiDependentes" checked>
            <label for="Naturalizado">Possui Dependentes</label>
        </div>
    </div>
</div>

<div class="actions clearfix"></div>