<!--Dados Sociais-->
<div class="row clearfix">
    <div class="col-sm-4">
        <h4>Dados Sociais</h4>
    </div>
</div>
<div class="row clearfix">
    <div class="col-sm-4">
        <label>Nome Completo</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMDSNomeCompleto" class="form-control" placeholder="Digite seu nome completo">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Nome Social</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMDSNomeSocial" class="form-control" placeholder="Digite seu nome e sobrenome">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Data de Nascimento</label>
        <div class="form-group">
            <div class="form-line">
                <input type="date" id="DMDSDataNascimento" class="form-control date" placeholder="Digite sua data de nascimento">
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-12">
        <label>Foto</label>
        <div class="form-group">
            <div class="form-line">
                <input type="file" id="DMDSFoto" class="form-control">
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-7">
        <label>E-mail</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMDSEmail" class="form-control" placeholder="Digite seu email">
            </div>
        </div>
    </div>
    <div class="col-sm-1">
        <label>DDD</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMDSDDDTelefonePessoal" class="form-control" placeholder="DDD" width="30">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Telefone Pessoal</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMDSTelefonePessoal" class="form-control" placeholder="00000-0000">
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-7">
        <label>Contato para Recados</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMDSContatoRecado" class="form-control" placeholder="Com quem podemos deixar recado?">
            </div>
        </div>
    </div>
    <div class="col-sm-1">
        <label>DDD</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMDSDDDTelefoneRecado" class="form-control" placeholder="DDD" width="30">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Telefone para Recado</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMDSTelefoneRecado" class="form-control" placeholder="00000-0000">
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-4">
        <label>Gênero</label>
        <div class="form-group">
            <select class="form-control" id="DMDSSexo">
                <option value="">Selecione</option>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Estado Civil</label>
        <div class="form-group">
            <select class="form-control" id="DMDSEstadoCivil">
                <option value="">Selecione</option>
                <option value="C">Casado(a)</option>
                <option value="S">Solteiro(a)</option>
                <option value="D">Divorciado(a)</option>
                <option value="V">Viúvo(a)</option>
                <option value="U">União Estável</option>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Possui Deficiência</label>
            <div class="form-line">
                <input type="checkbox" id="DMDSPossuiDeficiencia">
                <label for="DMDSPossuiDeficiencia">Possui Deficiência</label>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Possui Dependentes</label>
            <div class="form-line">
                <input type="checkbox" id="DMMSPossuiDependentes">
                <label for="DMMSPossuiDependentes">Possui Dependentes</label>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-6">
        <label>Nome da Mãe</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMDSNomeMae" class="form-control" placeholder="Digite o nome da mãe">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <label>Nome do Pai</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMDSNomePai" class="form-control" placeholder="Digite o nome do pai">
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-6">
        <label>Nome do Cônjugue</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMDSNomeConjugue" class="form-control" placeholder="Digite o nome do cônjugue">
            </div>
        </div>
    </div>

</div>

<div class="actions clearfix"></div>

<hr />

<!--Documentos-->
<div class="row clearfix">
    <div class="col-sm-4">
        <h4>Documentos</h4>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-12">
        <label>Arquivo</label>
        <div class="form-group">
            <div class="form-line">
                <input type="file" id="DMDCArquivo" class="form-control" placeholder="Anexar documento">
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-4">
        <label>Tipo do Documento</label>
        <div class="form-group">
            <select class="form-control" id="DMDCTipo">
                <option value="RG">RG</option>
                <option value="CPF">CPF</option>
                <option value="Passaporte">Passaporte</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Número do Documento</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMDCNumero" class="form-control" placeholder="00.000.00-0">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Data de Emissão</label>
        <div class="form-group">
            <div class="form-line">
                <input type="date" id="DMDCDataEmissao" class="form-control">
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-4">
        <label>Estado de Emissão</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMDCEstadoEmissao" class="form-control" placeholder="Digite o estado de emissão">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Orgão Emissor</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMDCOrgaoEmissor" class="form-control" placeholder="Digite o orgão emissor">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Validade</label>
        <div class="form-group">
            <div class="form-line">
                <input type="date" id="DMDCValidade" class="form-control">
            </div>
        </div>
    </div>
</div>

<hr />

<!--Carteira de Trabalho (CTPS)-->
<div class="row clearfix">
    <div class="col-sm-4">
        <h4>Carteira de Trabalho (CTPS)</h4>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-12">
        <label>Arquivo</label>
        <div class="form-group">
            <div class="form-line">
                <input type="file" id="DMCTArquivo" class="form-control" placeholder="Anexar documento">
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-4">
        <label>Número da Carteira de Trabalho</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMCTNumero" class="form-control" placeholder="0000000000">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Série</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMCTSerie" class="form-control" placeholder="0000-XX">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Modelo</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMCTModelo" class="form-control" placeholder="Digite o modelo">
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-4">
        <label>Estado de Emissão</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMCTEstadoEmissao" class="form-control" placeholder="Digite o estado de emissão">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Data de Emissão</label>
        <div class="form-group">
            <div class="form-line">
                <input type="date" id="DMCTDataEmissao" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Data de Validade (Para Estrangeiros)</label>
        <div class="form-group">
            <div class="form-line">
                <input type="date" id="DMCTDataValidade" class="form-control">
            </div>
        </div>
    </div>
</div>

<hr />

<!--Título de Eleitor-->
<div class="row clearfix">
    <div class="col-sm-4">
        <h4>Título de Eleitor</h4>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-12">
        <label>Arquivo</label>
        <div class="form-group">
            <div class="form-line">
                <input type="file" id="DMTEArquivo" class="form-control" placeholder="Anexar documento">
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-3">
        <label>Emitido</label>
        <div class="form-group">
            <select class="form-control" id="DMTEEmitido">
                <option value="Sim">Sim</option>
                <option value="Nao">Nao</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <label>Número</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMTENumero" class="form-control" placeholder="000 000 000">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <label>Zona</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMTEZona" class="form-control" placeholder="0000">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <label>Seção</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMTESecao" class="form-control" placeholder="000">
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-4">
        <label>Estado de Emissão</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMTEEstadoEmissao" class="form-control" placeholder="Digite o estado de emissão">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Cidade de Emissão</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMTECidadeEmissao" class="form-control" placeholder="Digite a cidade de emissão">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Data de Emissão</label>
        <div class="form-group">
            <div class="form-line">
                <input type="date" id="DMTEDataEmissao" class="form-control">
            </div>
        </div>
    </div>
</div>

<hr />

<!--Número do Programa de Integração Social (PIS/NIS)-->
<div class="row clearfix">
    <div class="col-sm-4">
        <h4>Número do Programa de Integração Social (PIS/NIS)</h4>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-12">
        <label>Arquivo</label>
        <div class="form-group">
            <div class="form-line">
                <input type="file" id="DMPISArquivo" class="form-control" placeholder="Anexar documento">
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-10">
        <label>Número do PIS</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMPISNumero" class="form-control" placeholder="00000000000">
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <label>Número</label>
        <div class="form-group">
            <div class="form-line">
                <input type="checkbox" id="DMPISPrimeiroEmprego">
                <label for="DMPISPrimeiroEmprego">Primeiro Emprego</label>
            </div>
        </div>
    </div>
</div>