
<div class="content clearfix">
    <button style="position: relative;float: right;background-color: #09d0be;color:white" type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal"><b>Adicionar Dependente</b></button>
</div>

<br />

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="content clearfix">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                    <tr>
                        <th>Nome</th>
                        <th>Dependente</th>
                        <th>Data</th>
                        <th>Nacionalidade</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Nome do Dependente</td>
                        <td>Parentesco</td>
                        <td>13/12/2020</td>
                        <td>Brasileiro</td>
                        <td>
                            <button style="background:transparent; background-color:transparent;border:none"><i class="material-icons" style="color:black">search</i></button>
                            <button style="background: transparent;border: none"><i class="material-icons" style="color:red">delete</i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="actions clearfix"></div>
    </div>
</div>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>This is a small modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>