
<div class="content clearfix">
    <button style="position:relative ; float:right ; background-color: #8EB138 " type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+ Adicionar Dependente</button>
</div>

<br />

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="content clearfix">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                    <tr>
                        <th>Nome</th>
                        <th>Dependente</th>
                        <th>Data</th>
                        <th>Nacionalidade</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Nome do Dependente</td>
                        <td>Parentesco</td>
                        <td>13/12/2020</td>
                        <td>Brasileiro</td>
                        <td><button>Ver</button></td>
                        <td><button>Excluir</button></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="actions clearfix"></div>
    </div>
</div>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>This is a small modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>