
<div class="content clearfix">
    <button data-toggle="modal" data-target="#largeModalDependente" type="button" class="btn btn-lg bg-greenNew waves-effect" style="position: relative;float: right;">+ Adicionar Dependente</button>
</div>

<br />

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="content clearfix">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                    <tr>
                        <th>Nome</th>
                        <th>Dependente</th>
                        <th>Data</th>
                        <th>Nacionalidade</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Nome do Dependente</td>
                        <td>Parentesco</td>
                        <td>13/12/2020</td>
                        <td>Brasileiro</td>
                        <td><button class="btn btn-block bg-greenNew waves-effect center">Ver</button></td>
                        <td><button class="btn btn-block bg-greenNew waves-effect center">Excluir</button></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="actions clearfix"></div>
    </div>
</div>

<partial name="~/Views/DadoPessoal/_DependenteAdicionar.cshtml" />