
<div class="content clearfix">
    <button  type="button" data-toggle="modal" data-target="#largeModalDependente" class="btn btn-lg" style="position: relative;float: right;background-color: #09d0be;color:white" ><b>Adicionar Dependente</b></button>
</div>

<br />

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="content clearfix">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                    <tr>
                        <th>Nome</th>
                        <th>Dependente</th>
                        <th>Data</th>
                        <th>Nacionalidade</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Nome do Dependente</td>
                        <td>Parentesco</td>
                        <td>13/12/2020</td>
                        <td>Brasileiro</td>
                        <td>
                            <button style="background:transparent; background-color:transparent;border:none"><i class="material-icons" style="color:black">search</i></button>
                            <button style="background: transparent;border: none"><i class="material-icons" style="color:red">delete</i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="actions clearfix"></div>
    </div>
</div>

<partial name="~/Views/DadoPessoal/_DependenteAdicionar.cshtml" />