<div class="modal fade" id="largeModalExperienciaProfissional" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Adicionar Experiência Profissional</h4>
            </div>

            <hr />

            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <label>Empresa</label>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Digite o nome da empresa ">
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-4">
                        <label>Cidade</label>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Digite o nome da cidade">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>Data de Admissão</label>
                        <div class="form-group">
                            <input type="date" class="form-control" placeholder="Digite a data de admissão">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>Data de Desligamento</label>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Digite a data de desligamento">
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-4">
                        <label>Cargo</label>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Digite o cargo">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>Senioridade</label>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Digite o grau de senioridade">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>Remuneração</label>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Digite o valor de remuneração">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="checkbox" id="PorHora" name="PorHora">
                            <label for="PorHora">Por Hora</label>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <label>Atividades</label>
                        <div class="form-group">
                            <textarea type="" class="form-control" placeholder="Descreva suas atividades na empresa "></textarea>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <label>Tecnologias e Metodologias</label>
                        <div class="form-group">
                            <textarea type="" class="form-control" placeholder="Descreva as tecnologias e metodologias "></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn bg-greenNew waves-effect right" style="margin-left:10px">Adicionar</button>
                <button type="button" class="btn bg-deafult waves-effect right" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>