<div class="modal fade" id="largeModalExperienciaProfissional" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Adicionar Experiência Profissional</h4>
            </div>

            <hr />

            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <label>Empresa</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="DMEPEmpresa" class="form-control" placeholder="Digite o nome da empresa ">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-4">
                        <label>Cidade</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="DMEPCidade" class="form-control" placeholder="Digite o nome da cidade">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>Data de Admissão</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="date" id="DMEPDataAdmissao" class="form-control" placeholder="Digite a data de admissão">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>Data de Desligamento</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="date" id="DMEPDataDesligamento" class="form-control" placeholder="Digite a data de desligamento">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-4">
                        <label>Cargo</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="DMEPCargo" class="form-control" placeholder="Digite o cargo">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label>Senioridade</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="DMEPSenioridade" class="form-control" placeholder="Digite o grau de senioridade">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label>Remuneração</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="DMEPRemuneracao" class="form-control" placeholder="Digite o valor de remuneração">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>Por Hora</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="checkbox" id="DMEPPorHora" name="PorHora">
                                <label for="PorHora">Por Hora</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <label>Atividades</label>
                        <div class="form-group">
                            <div class="form-line">
                                <textarea id="DMEPAtividades" class="form-control" placeholder="Descreva suas atividades na empresa "></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <label>Tecnologias e Metodologias</label>
                        <div class="form-group">
                            <div class="form-line">
                                <textarea id="DMEPTecnologias" class="form-control" placeholder="Descreva as tecnologias e metodologias "></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" id="btnExperienciaProfissionalAdd" onclick="adicionarExperienciaProfissional();" class="btn bg-greenNew waves-effect right" style="margin-left:10px">Adicionar</button>
                <button type="button" id="btnExperienciaProfissionalClose" class="btn bg-deafult waves-effect right" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>