
<br />

<div class="row clearfix">
    <div class="col-sm-6">
        <label>Idioma</label>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Digite o nome do idioma">
        </div>
    </div>
    <div class="col-sm-6">
        <label>Preferência</label>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Digite a preferência">
        </div>
    </div>
</div>
