<div class="modal fade" id="largeModalFormacao" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Adicionar Formação</h4>
            </div>

            <hr />

            <div class="modal-body">
                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation" class="active"><a href="#FormacaoEspecializacao" data-toggle="tab"><h5>Formação ou Especialização</h5></a></li>
                    <li role="presentation"><a href="#Idioma" data-toggle="tab"><h5>Idioma</h5></a></li>
                </ul>

               <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="FormacaoEspecializacao">
                        <partial name="~/Views/DadoPessoal/_FormacaoEspecializacao.cshtml" />
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="Idioma">
                        <partial name="~/Views/DadoPessoal/_FormacaoIdioma.cshtml" />
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn bg-greenNew waves-effect right" style="margin-left:10px">Adicionar</button>
                <button type="button" class="btn bg-deafult waves-effect right" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>