
<br />

<div class="row clearfix">
    <div class="col-sm-6">
        <label>Curso</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMFOCurso" class="form-control" placeholder="Digite o nome do curso">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <label>Tipo</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMFOTipo" class="form-control" placeholder="Digite o tipo do curso">
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-6">
        <label>Instituição Educacional</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMFOInstituicao" class="form-control" placeholder="Digite o nome da instituição educacional">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <label>Total de Horas</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="DMFOTotalHoras" class="form-control" placeholder="Digite o total de horas do curso">
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-6">
        <label>Data de Início</label>
        <div class="form-group">
            <div class="form-line">
                <input type="date" id="DMFODataInicio" class="form-control" placeholder="Digite a data de início do curso">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <label>Data de Conclusão</label>
        <div class="form-group">
            <div class="form-line">
                <input type="date" id="DMFODataConclusao" class="form-control" placeholder="Digite a data de conclusão do curso">
            </div>
        </div>
    </div>
</div>