<div class="row clearfix">
    <div class="col-sm-4">
        <h4>Redes Sociais</h4>
    </div>
</div>
<div class="row clearfix">
    <div class="col-sm-4">
        <label>Linkedin</label>
        <div class="form-group">
            <label for="fname">http://linkedin.com/in/</label>
            <input type="text" id="fname" name="fname" placeholder="Seu usuário">
        </div>
    </div>
    <div class="col-sm-4">
        <label>Facebook</label>
        <div class="form-group">
            <label for="fname">http://facebook.com/</label>
            <input type="text" id="fname" name="fname" placeholder="Seu usuário">
        </div>
    </div>
    <div class="col-sm-4">
        <label>Como conheceu a empresa</label>
        <div class="form-group">
            <select class="form-control show-tick">
                <option value="Linkedin">Linkedin</option>
                <option value="Amigos">Amigos</option>
                <option value="Email">Email</option>
                <option value="...">...</option>
            </select>
        </div>
    </div>
</div>

<hr />

<div class="row clearfix">
    <div class="col-sm-3">
        <h4>Dados físicos</h4>
    </div>
</div>
<div class="row clearfix">
    <div class="col-sm-3">
        <label>Altura</label>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Digite sua altura">
        </div>
    </div>
    <div class="col-sm-3">
        <label>Número camisa</label>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Digite o tamanho de sua camisa">
        </div>
    </div>
    <div class="col-sm-3">
        <label>Número calça</label>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Digite o tamanho de sua calça">
        </div>
    </div>
    <div class="col-sm-3">
        <label>Número calçado</label>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Digite o tamanho de seu calçado">
        </div>
    </div>
</div>