<div class="row clearfix">
    <div class="col-sm-10">
        <label>Nacionalidade</label>
        <div class="form-group">
            <select class="form-control show-tick">
                <option value="Brasil" selected="selected">Brasil</option>
                <option value="Afeganistão">Afeganistão</option>
                <option value="África do Sul">África do Sul</option>
                <option value="Albânia">Albânia</option>
                <option value="Alemanha">Alemanha</option>
                <option value="...">...</option>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <input type="checkbox" id="Naturalizado" name="Naturalizado" checked>
            <label for="Naturalizado">Naturalizado(a)</label>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-4">
        <label>UF de Nascimento</label>
        <div class="form-group">
            <select class="form-control show-tick">
                <option value="Acre">Acre</option>
                <option value="Alagoas">Alagoas</option>
                <option value="Amapá">Amapá</option>
                <option value="Amazonas">Amazonas</option>
                <option value="Bahia">Bahia</option>
                <option value="...">...</option>

            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Cidade de Nascimento</label>
        <div class="form-group">
            <select class="form-control show-tick">
                <option value="cidade1">cidade1</option>
                <option value="cidade2">cidade2</option>
                <option value="cidade3">cidade3</option>
                <option value="cidade4">cidade4</option>
                <option value="cidade5">cidade5</option>
                <option value="...">...</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Classific. Estrangeiro</label>
        <div class="form-group">
            <select class="form-control show-tick">
                <option value="1">Opção 1</option>
                <option value="2">Opção 2</option>
                <option value="3">Opção 3</option>
                <option value="4">Opção 4</option>
                <option value="5">Opção 5</option>
                <option value="...">...</option>
            </select>
        </div>
    </div>
</div>

<div class="actions clearfix"></div>