<div class="row clearfix">
    <div class="col-sm-8">
        <label>Nacionalidade</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" placeholder="Digite sua nacionalidade" />
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <input type="checkbox" id="Naturalizado" name="Naturalizado">
            <label for="Naturalizado">Naturalizado(a)</label>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-2">
        <label>UF de Nascimento</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" placeholder="UF de Nascimento" />
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <label>Cidade de Nascimento</label>
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" placeholder="Cidade de nascimento" />
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <label>Classificação Estrangeiro</label>
        <div class="form-group">
            <select class="form-control show-tick">
                <option value="0">Selecione</option>
                <option value="1">Cooperação e Consulta entre a República Federativa do Brasil e a República Portuguesa</option>
                <option value="2">Asilado</option>
                <option value="3">Beneficiado pelo acordo entre países do Mercosul</option>
                <option value="4">Benediciado pelo Tratado de Amizade</option>
                <option value="5">Com residência provisória e anistiado em situação irregular</option>
                <option value="6">Deficiente físico e com mais de 51 anos</option>
                <option value="7">Dependente de agente diplomático e/ou consular de países que mantém convênio de reciprocidade para o exercício de atividade remunerada no Brasil</option>
                <option value="8">Permanência no Brasil em razão de filhos ou cônjuge brasileiros</option>
                <option value="9">Refugiado</option>
                <option value="10">Residente em país fronteiriço ao Brasil</option>
                <option value="11">Solicitante de Refúgio</option>
                <option value="12">Visto Permanente</option>
                <option value="13">Visto Temporário</option>
            </select>
        </div>
    </div>
</div>

<div class="actions clearfix"></div>