<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2><b>Cadastro Deal Maker</b></h2>
            </div>
            <div class="body">
                <form id="FormDealMakerAdd">
                    <!-- Informações do Colaborador -->
                    <div class="row clearfix">
                        <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                            <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-col-cyan">
                                    <div class="panel-heading" role="tab" id="headingOne_1">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapseOne_1" aria-expanded="true" aria-controls="collapseOne_1">
                                                Informações do Deal Maker
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne_1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_1">
                                        <div class="panel-body">
                                            <partial name="~/Views/DadoPessoal/_InformacoesColaborador.cshtml" />
                                        </div>
                                    </div>
                                </div>

                                <!-- Formação -->
                                <div class="panel panel-col-cyan">
                                    <div class="panel-heading" role="tab" id="headingOne_2">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion_2" href="#collapseOne_2" aria-expanded="true" aria-controls="collapseOne_2">
                                                Formação
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne_2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_2">
                                        <div class="panel-body">
                                            <partial name="~/Views/DadoPessoal/_Formacao.cshtml" />
                                        </div>
                                    </div>
                                </div>

                                <!-- Experiências Profissionais -->
                                <div class="panel panel-col-cyan">
                                    <div class="panel-heading" role="tab" id="headingOne_3">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion_3" href="#collapseOne_3" aria-expanded="true" aria-controls="collapseOne_3">
                                                Experiências Profissionais
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne_3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_3">
                                        <div class="panel-body">
                                            <partial name="~/Views/DadoPessoal/_ExperienciaProfissinal.cshtml" />
                                        </div>
                                    </div>
                                </div>

                                <!-- Certificações -->
                                <div class="panel panel-col-cyan">
                                    <div class="panel-heading" role="tab" id="headingOne_4">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion_4" href="#collapseOne_4" aria-expanded="true" aria-controls="collapseOne_4">
                                                Cursos e Certificações
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne_4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_4">
                                        <div class="panel-body">
                                            <partial name="~/Views/DadoPessoal/_Certificacoes.cshtml" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                <button type="button" onclick="getFormData();" class="btn bg-greenNew waves-effect right"  style="margin-left:10px">Enviar</button>
                                <button type="button" class="btn btn-default waves-effect right">Limpar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var DependetesTemp = [];
    var FormacoesTemp = [];
    var ExperienciasProfTemp = [];
    var CertificacoesTemp = [];

    function formatarData(data) {
        var partesData = data.split("-");
        var partesDia = partesData[2].split("T");
        var dia = partesDia[0];
        var mes = partesData[1];
        var ano = partesData[0];
        return dia + "/" + mes + "/" + ano;
    }

    function getFormData() {
        var DadosSociais = new Object();
        DadosSociais.NomeCompleto = document.getElementById("DMDSNomeCompleto").value;
        DadosSociais.NomeSocial = document.getElementById("DMDSNomeSocial").value;
        DadosSociais.DataNascimento = document.getElementById("DMDSDataNascimento").value;
        DadosSociais.Foto = document.getElementById("DMDSFoto").value;
        DadosSociais.Email = document.getElementById("DMDSEmail").value;
        DadosSociais.DDDTelefonePessoal = document.getElementById("DMDSDDDTelefonePessoal").value;
        DadosSociais.TelefonePessoal = document.getElementById("DMDSTelefonePessoal").value;
        DadosSociais.ContatoRecado = document.getElementById("DMDSContatoRecado").value;
        DadosSociais.DDDTelefoneRecado = document.getElementById("DMDSDDDTelefoneRecado").value;
        DadosSociais.TelefoneRecado = document.getElementById("DMDSTelefoneRecado").value;
        DadosSociais.Sexo = document.getElementById("DMDSSexo").value;
        DadosSociais.EstadoCivil = document.getElementById("DMDSEstadoCivil").value;
        DadosSociais.PossuiDeficiencia = document.getElementById("DMDSPossuiDeficiencia").value;
        DadosSociais.PossuiDependentes = document.getElementById("DMMSPossuiDependentes").value;
        DadosSociais.NomeMae = document.getElementById("DMDSNomeMae").value;
        DadosSociais.NomePai = document.getElementById("DMDSNomePai").value;
        DadosSociais.NomeConjugue = document.getElementById("DMDSNomeConjugue").value;

        var Documento = new Object();
        Documento.Arquivo = document.getElementById("DMDCArquivo").value;
        Documento.Tipo = document.getElementById("DMDCTipo").value;
        Documento.Numero = document.getElementById("DMDCNumero").value;
        Documento.DataEmissao = document.getElementById("DMDCDataEmissao").value;
        Documento.EstadoEmissao = document.getElementById("DMDCEstadoEmissao").value;
        Documento.OrgaoEmissor = document.getElementById("DMDCOrgaoEmissor").value;
        Documento.Validade = document.getElementById("DMDCValidade").value;

        var CarteiraTrabalho = new Object();
        CarteiraTrabalho.Arquivo = document.getElementById("DMCTArquivo").value;
        CarteiraTrabalho.Numero = document.getElementById("DMCTNumero").value;
        CarteiraTrabalho.Serie = document.getElementById("DMCTSerie").value;
        CarteiraTrabalho.Modelo = document.getElementById("DMCTModelo").value;
        CarteiraTrabalho.EstadoEmissao = document.getElementById("DMCTEstadoEmissao").value;
        CarteiraTrabalho.DataEmissao = document.getElementById("DMCTDataEmissao").value;
        CarteiraTrabalho.DataValidade = document.getElementById("DMCTDataValidade").value;

        var TituloEleitor = new Object();
        TituloEleitor.Arquivo = document.getElementById("DMTEArquivo").value;
        TituloEleitor.Emitido = document.getElementById("DMTEEmitido").value;
        TituloEleitor.Numero = document.getElementById("DMTENumero").value;
        TituloEleitor.Zona = document.getElementById("DMTEZona").value;
        TituloEleitor.Secao = document.getElementById("DMTESecao").value;
        TituloEleitor.EstadoEmissao = document.getElementById("DMTEEstadoEmissao").value;
        TituloEleitor.CidadeEmissao = document.getElementById("DMTECidadeEmissao").value;
        TituloEleitor.DataEmissao = document.getElementById("DMTEDataEmissao").value;

        var PIS = new Object();
        PIS.Arquivo = document.getElementById("DMPISArquivo").value;
        PIS.Numero = document.getElementById("DMPISNumero").value;
        PIS.PrimeiroEmprego = document.getElementById("DMPISPrimeiroEmprego").value;

        var Naturalidade = new Object();
        Naturalidade.Nacionalidade = document.getElementById("DMNNacionalidade").value;
        Naturalidade.Naturalizado = document.getElementById("DMNNaturalizado").value;
        Naturalidade.UfNascimento = document.getElementById("DMNUfNascimento").value;
        Naturalidade.CidadeNascimento = document.getElementById("DMNCidadeNascimento").value;
        Naturalidade.ClassificacaoEstrangeiro = document.getElementById("DMNClassificacaoEstrangeiro").value;

        var RedesSociais = new Object();
        RedesSociais.Linkedin = document.getElementById("DMIALinkedin").value;
        RedesSociais.Facebook = document.getElementById("DMIAFacebook").value;
        RedesSociais.ComoConheceuEmpresa = document.getElementById("DMIAComoConheceuEmpresa").value;
        RedesSociais.Linkedin = document.getElementById("DMIALinkedin").value;

        var DadosFisicos = new Object();
        DadosFisicos.Altura = document.getElementById("DMIAAltura").value;
        DadosFisicos.TamanhoCamisa = document.getElementById("DMIATamanhoCamisa").value;
        DadosFisicos.TamanhoCalca = document.getElementById("DMIATamanhoCalca").value;
        DadosFisicos.TamanhoCalcado = document.getElementById("DMIATamanhoCalcado").value;

        var Dependentes = [];
        Dependentes = DependetesTemp; 

        var Formacoes = [];
        Formacoes = FormacoesTemp; 

        var ExperienciasProfissionais = [];
        ExperienciasProfissionais = ExperienciasProfTemp; 

        var Certificacoes = [];
        Certificacoes = CertificacoesTemp; 

        var DealMaker = new Object();
        DealMaker.DadosSociais = DadosSociais;
        DealMaker.Documento = Documento;
        DealMaker.CarteiraTrabalho = CarteiraTrabalho;
        DealMaker.TituloEleitor = TituloEleitor;
        DealMaker.PIS = PIS;
        DealMaker.Naturalidade = Naturalidade;
        DealMaker.RedesSociais = RedesSociais;
        DealMaker.DadosFisicos = DadosFisicos;
        DealMaker.Dependentes = Dependentes;
        DealMaker.Formacoes = Formacoes;
        DealMaker.ExperienciasProfissionais = ExperienciasProfissionais;
        DealMaker.Certificacoes = Certificacoes;

        console.log(DealMaker);
    }

    function adicionarDependente() {
        var Dependente = new Object();
        Dependente.NomeCompleto = document.getElementById("DMDPNomeCompleto").value;
        Dependente.Genero = document.getElementById("DMDPGenero").value;
        Dependente.GrauParentesco = document.getElementById("DMDPGrauParentesco").value;
        Dependente.DataNascimento = document.getElementById("DMDPDataNascimento").value;
        Dependente.EstadoNascimento = document.getElementById("DMDPEstadoNascimento").value;
        Dependente.Nacionalidade = document.getElementById("DMDPNacionalidade").value;

        DependetesTemp.push(Dependente);

        preencherTabelaDependentes();

        fecharModalDependentes(true);
    }

    function preencherTabelaDependentes() {
        var html =
            '<thead>' +
            '<tr>' +
            '<th>Nome</th>' +
            '<th>Dependente</th>' +
            '<th>Data</th>' +
            '<th>Nacionalidade</th>' +
            '<th></th>' +
            '</tr>' +
            '</thead>' + 
            '<tbody>';

        for (i = 0; i < DependetesTemp.length; i++) {
            html +=
                '<tr>' +
                '<td>' + DependetesTemp[i].NomeCompleto + '</td>' +
                '<td>' + DependetesTemp[i].GrauParentesco + '</td>' +
                '<td>' + formatarData(DependetesTemp[i].DataNascimento) + '</td>' +
                '<td>' + DependetesTemp[i].Nacionalidade + '</td>' +
                '<td>' +
                '<button type="button" style="background:transparent; background-color:transparent;border:none"><i class="material-icons" style="color:black">search</i></button>' +
                '<button type="button" style="background: transparent;border: none"><i class="material-icons" style="color:red">delete</i></button>' +
                '</td>' +
                '</tr>'
        }

        html += '</tbody></table>';

        document.getElementById("tblDependentes").innerHTML = html;
        document.getElementById("tblDependentes").style.visibility = 'visible';
    }

    function fecharModalDependentes(clicar) {
        document.getElementById("DMDPNomeCompleto").value = '';
        document.getElementById("DMDPGenero").value = '';
        document.getElementById("DMDPGrauParentesco").value = '';
        document.getElementById("DMDPDataNascimento").value = '';
        document.getElementById("DMDPEstadoNascimento").value = '';
        document.getElementById("DMDPNacionalidade").value = '';

        if(clicar) document.getElementById("btnDependentesClose").click();
    }

    function adicionarFormacao() {
        var Formacao = new Object();
        Formacao.Curso = document.getElementById("DMFOCurso").value;
        Formacao.Tipo = document.getElementById("DMFOTipo").value;
        Formacao.Instituicao = document.getElementById("DMFOInstituicao").value;
        Formacao.TotalHoras = document.getElementById("DMFOTotalHoras").value;
        Formacao.DataInicio = document.getElementById("DMFODataInicio").value;
        Formacao.DataConclusao = document.getElementById("DMFODataConclusao").value; 
        Formacao.Idioma = document.getElementById("DMFOIdioma").value; 
        Formacao.Preferencia = document.getElementById("DMFOPreferencia").value; 

        FormacoesTemp.push(Formacao);

        preencherTabelaFormacoes();

        fecharModalFormacoes(true);
    }

    function preencherTabelaFormacoes() {
        var html =
            '<thead>' +
            '<tr>' +
            '<th>Nome do Curso</th>' +
            '<th>Tipo do Cruso</th>' +
            '<th>Instituição</th>' +
            '<th>Data</th>' +
            '<th>Quantidades de horas</th>' +
            '<th></th>' +
            '</tr>' +
            '</thead>' +
            '<tbody>';

        for (i = 0; i < FormacoesTemp.length; i++) {
            html +=
                '<tr>' +
                '<td>' + FormacoesTemp[i].Curso + '</td>' +
                '<td>' + FormacoesTemp[i].Tipo + '</td>' +
                '<td>' + FormacoesTemp[i].Instituicao + '</td>' +
                '<td>' + formatarData(FormacoesTemp[i].DataInicio) + 'até' + formatarData(FormacoesTemp[i].DataConclusao) + '</td>' +
                '<td>' + FormacoesTemp[i].TotalHoras + '</td>' +
                '<td>' +
                '<button type="button" style="background:transparent; background-color:transparent;border:none"><i class="material-icons" style="color:black">search</i></button>' +
                '<button type="button" style="background: transparent;border: none"><i class="material-icons" style="color:red">delete</i></button>' +
                '</td>' +
                '</tr>'
        }

        html += '</tbody></table>';

        document.getElementById("tblFormacoes").innerHTML = html;
        document.getElementById("tblFormacoes").style.visibility = 'visible';
    }

    function fecharModalFormacoes(clicar) {
        document.getElementById("DMFOCurso").value = '';
        document.getElementById("DMFOTipo").value = '';
        document.getElementById("DMFOInstituicao").value = '';
        document.getElementById("DMFOTotalHoras").value = '';
        document.getElementById("DMFODataInicio").value = '';
        document.getElementById("DMFODataConclusao").value = '';
        document.getElementById("DMFOIdioma").value = '';
        document.getElementById("DMFOPreferencia").value = '';

        if(clicar) document.getElementById("btnFormacaoClose").click();
    }

    function adicionarExperienciaProfissional() {
        var ExperienciaProfissional = new Object();
        ExperienciaProfissional.Empresa = document.getElementById("DMEPEmpresa").value;
        ExperienciaProfissional.Cidade = document.getElementById("DMEPCidade").value;
        ExperienciaProfissional.DataAdmissao = document.getElementById("DMEPDataAdmissao").value;
        ExperienciaProfissional.DataDesligamento = document.getElementById("DMEPDataDesligamento").value;
        ExperienciaProfissional.Cargo = document.getElementById("DMEPCargo").value;
        ExperienciaProfissional.Senioridade = document.getElementById("DMEPSenioridade").value;
        ExperienciaProfissional.Remuneracao = document.getElementById("DMEPRemuneracao").value;
        ExperienciaProfissional.PorHora = document.getElementById("DMEPPorHora").value;
        ExperienciaProfissional.Atividades = document.getElementById("DMEPAtividades").value;
        ExperienciaProfissional.Tecnologias = document.getElementById("DMEPTecnologias").value;

        ExperienciasProfTemp.push(ExperienciaProfissional);

        preencherTabelaExperienciaProfissional();

        fecharModalExperienciaProfissional(true);
    }

    function preencherTabelaExperienciaProfissional() {
        var html =
            '<thead>' +
            '<tr>' +
            '<th>Empresa</th>' +
            '<th>Cargo</th>' +
            '<th>Data</th>' +
            '<th>Remuneração</th>' +
            '<th></th>' +
            '</tr>' +
            '</thead>' +
            '<tbody>';

        for (i = 0; i < ExperienciasProfTemp.length; i++) {
            html +=
                '<tr>' +
                '<td>' + ExperienciasProfTemp[i].Empresa + '</td>' +
                '<td>' + ExperienciasProfTemp[i].Cargo + '</td>' +
                '<td>' + formatarData(ExperienciasProfTemp[i].DataAdmissao) + ' até ' + formatarData(ExperienciasProfTemp[i].DataDesligamento)+ '</td>' +
                '<td>R$ ' + ExperienciasProfTemp[i].Remuneracao + '</td>' +
                '<td>' +
                '<button type="button" style="background:transparent; background-color:transparent;border:none"><i class="material-icons" style="color:black">search</i></button>' +
                '<button type="button" style="background: transparent;border: none"><i class="material-icons" style="color:red">delete</i></button>' +
                '</td>' +
                '</tr>'
        }

        html += '</tbody></table>';

        document.getElementById("tblExperienciaProfissional").innerHTML = html;
        document.getElementById("tblExperienciaProfissional").style.visibility = 'visible';
    }

    function fecharModalExperienciaProfissional(clicar) {
        document.getElementById("DMEPEmpresa").value = '';
        document.getElementById("DMEPCidade").value = '';
        document.getElementById("DMEPDataAdmissao").value = '';
        document.getElementById("DMEPDataDesligamento").value = '';
        document.getElementById("DMEPCargo").value = '';
        document.getElementById("DMEPSenioridade").value = '';
        document.getElementById("DMEPRemuneracao").value = '';
        document.getElementById("DMEPPorHora").value = '';
        document.getElementById("DMEPAtividades").value = '';
        document.getElementById("DMEPTecnologias").value = '';

        if(clicar) document.getElementById("btnExperienciaProfissionalClose").click();
    }

    function adicionarCertificacao() {
        var Certificacao = new Object();
        Certificacao.NomeCurso = document.getElementById("DMCENomeCurso").value;
        Certificacao.Emissor = document.getElementById("DMCEEmissor").value;
        Certificacao.Instituicao = document.getElementById("DMCEInstituicao").value;
        Certificacao.DataInicio = document.getElementById("DMCEDataInicio").value;
        Certificacao.DataConclusao = document.getElementById("DMCEDataConclusao").value;
        Certificacao.CargaHoraria = document.getElementById("DMCECargaHoraria").value;
        Certificacao.DiplomaCertificado = document.getElementById("DMCEDiplomaCertificado").value;

        CertificacoesTemp.push(Certificacao);

        preencherTabelaCertificacoes();

        fecharModalCertificacao(true);
    }

    function preencherTabelaCertificacoes() {
        var html =
            '<thead>' +
            '<tr>' +
            '<th>Curso</th>' +
            '<th>Emissor</th>' +
            '<th>Data</th>' +
            '<th>Arquivos</th>' +
            '<th></th>' +
            '</tr>' +
            '</thead>' +
            '<tbody>';

        for (i = 0; i < CertificacoesTemp.length; i++) {
            html +=
                '<tr>' +
                '<td>' + CertificacoesTemp[i].NomeCurso + '</td>' +
                '<td>' + CertificacoesTemp[i].Emissor + '</td>' +
                '<td>' + formatarData(CertificacoesTemp[i].DataInicio) + ' até ' + formatarData(CertificacoesTemp[i].DataConclusao) + '</td>' +
                '<td>1 arquivo anexado</td>' +
                '<td>' +
                '<button type="button" style="background:transparent; background-color:transparent;border:none"><i class="material-icons" style="color:black">search</i></button>' +
                '<button type="button" style="background: transparent;border: none"><i class="material-icons" style="color:red">delete</i></button>' +
                '</td>' +
                '</tr>'
        }

        html += '</tbody></table>';

        document.getElementById("tblCertificacoes").innerHTML = html;
        document.getElementById("tblCertificacoes").style.visibility = 'visible';
    }

    function fecharModalCertificacao(clicar) {
        document.getElementById("DMCENomeCurso").value = '';
        document.getElementById("DMCEEmissor").value = '';
        document.getElementById("DMCEInstituicao").value = '';
        document.getElementById("DMCEDataInicio").value = '';
        document.getElementById("DMCEDataConclusao").value = '';
        document.getElementById("DMCECargaHoraria").value = '';
        document.getElementById("DMCEDiplomaCertificado").value = '';

        if(clicar) document.getElementById("btnCertificacaoClose").click();
    }
</script>