<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>DEAL MAKER</h2>
            </div>
            <div class="body">
                <form id="wizard_horizontal" role="application" class="wizard clearfix">
                    <div class="steps clearfix">
                        <ul role="tablist">
                            <li role="tab" aria-disabled="false" aria-selected="true">
                                <a id="wizard_horizontal-t-0" href="#wizard_horizontal-h-0" aria-controls="wizard_horizontal-p-0">
                                    <span class="current-info audible">current step: </span>
                                    Dados Pessoais
                                </a>
                            </li>
                            <li role="tab" class="first current" aria-disabled="false" class="disabled" aria-disabled:"true">
                                <a id="wizard_horizontal-t-0" aria-controls="wizard_horizontal-p-0" asp-area="" asp-controller="DadosPessoal" asp-action="Nacionalidade">
                                    <span class="current-info audible">current step: </span>
                                    Nacionalidade
                                </a>
                            </li>
                            <li role="tab" aria-disabled="false" class="disabled" aria-disabled:"true">
                                <a id="wizard_horizontal-t-0" aria-controls="wizard_horizontal-p-0">
                                    <span class="current-info audible">current step: </span>
                                    Informações Adicionais
                                </a>
                            </li>
                            <li role="tab" aria-disabled="false" class="disabled" aria-disabled:"true">
                                <a id="wizard_horizontal-t-0" href="#wizard_horizontal-h-3" aria-controls="wizard_horizontal-p-0">
                                    <span class="current-info audible">current step: </span>
                                    Dependentes
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="content clearfix">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <label>Nome Completo</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="Qual é o seu nome?">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label>Nome Social</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="Como você quer que seu nome apareça no crachá?">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label>Data de Nascimento</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control date" placeholder="Ex: 30/07/2016">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <label>E-mail</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="Digite seu email">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <label>DDD</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="DDD" width="30">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label>Telefone Pessoal</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="00000-0000">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <label>Contato para Recado</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="Com quem podemos deixar recado?">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <label>DDD</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="DDD" width="30">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label>Telefone para Recado</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="00000-0000">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <label>Gênero</label>
                                    <div class="form-group">
                                        <select class="form-control show-tick">
                                            <option value="">Selecione</option>
                                            <option value="M">Masculino</option>
                                            <option value="F">Feminino</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>Estado Civil</label>
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="">Selecione</option>
                                            <option value="C">Casado</option>
                                            <option value="S">Solteiro</option>
                                            <option value="D">Divorciado</option>
                                            <option value="V">Viúvo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>