<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>DEAL MAKER2</h2>
            </div>
            <div class="body">
                <form id="wizard_horizontal" role="application" class="wizard clearfix">
                    <div class="steps clearfix">
                        <ul role="tablist">

                            <li role="tab" aria-disabled="false" class="disabled" aria-disabled:"true">
                                <a id="wizard_horizontal-t-0" aria-controls="wizard_horizontal-p-0" asp-action="Index">
                                    <span class="current-info audible">current step: </span>
                                    Dados Pessoais
                                </a>
                            </li>
                            <li role="tab" class="first current" aria-disabled="false" aria-selected="true">
                                <a id="wizard_horizontal-t-0" aria-controls="wizard_horizontal-p-1" asp-action="Nacionalidade">
                                    <span class="current-info audible">current step: </span>
                                    Nacionalidade
                                </a>
                            </li>
                            <li role="tab" aria-disabled="false" class="disabled" aria-disabled:"true">
                                <a id="wizard_horizontal-t-0" aria-controls="wizard_horizontal-p-2" asp-action="InfoAdcionais">
                                    <span class="current-info audible">current step: </span>
                                    Informações Adicionais
                                </a>
                            </li>
                            <li role="tab" aria-disabled="false" class="disabled" aria-disabled:"true">
                                <a id="wizard_horizontal-t-0" href="#wizard_horizontal-h-3" aria-controls="wizard_horizontal-p-0">
                                    <span class="current-info audible">current step: </span>
                                    Dependentes
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="content clearfix">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <label>Nacionalidade</label>
                                    <div class="form-group">
                                        <select class="form-control show-tick">
                                            <option value="Brasil" selected="selected">Brasil</option>
                                            <option value="Afeganistão">Afeganistão</option>
                                            <option value="África do Sul">África do Sul</option>
                                            <option value="Albânia">Albânia</option>
                                            <option value="Alemanha">Alemanha</option>
                                            <option value="...">...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="checkbox" id="Naturalizado" name="Naturalizado"
                                               checked>
                                        <label for="Naturalizado">Naturalizado(a)</label>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <label>UF de Nascimento</label>
                                    <div class="form-group">
                                        <select class="form-control show-tick">
                                            <option value="Acre">Acre</option>
                                            <option value="Alagoas">Alagoas</option>
                                            <option value="Amapá">Amapá</option>
                                            <option value="Amazonas">Amazonas</option>
                                            <option value="Bahia">Bahia</option>
                                            <option value="...">...</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>Cidade de Nascimento</label>
                                    <div class="form-group">
                                        <select class="form-control show-tick">
                                            <option value="cidade1">cidade1</option>
                                            <option value="cidade2">cidade2</option>
                                            <option value="cidade3">cidade3</option>
                                            <option value="cidade4">cidade4</option>
                                            <option value="cidade5">cidade5</option>
                                            <option value="...">...</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>