<div class="menu">
    <ul class="list">
        <li class="header">@Context.User.Identity.Name</li>
        <li>
            <a href="@Url.Action("Index", "Home")">
                <i class="material-icons">home</i>
                <span>Principal</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "DadoPessoal")">
                <i class="material-icons">emoji_people</i>
                <span>Deal Maker</span>
            </a>
        </li>
        <li>
            <a  href="@Url.Action("Index", "GestaoAtividade")">
                <i class="material-icons">more_time</i>
                <span>Gestão de Atividades</span>
            </a>
        </li>
    </ul>
</div>