
    <div class="clearfix">
        <div class="card" style="background-color: #1e2430">
            <div class="clearfix">
                <div id="divBarra" style="width:100%;height:62px" />
            </div>
            <div class="clearfix">
                <div id="divLogo" style="width:661px;height:104px" />
            </div>
            <div class="clearfix">
                <div class="col-sm-6">
                    <h2 class="align-center" style="color: #f8c68a">Senior em Java Full Stack, Front-endem React, Flutter, Angular Full Stack</h2>
                </div>
                <div class="col-sm-6">
                    <div class="clearfix" style="margin-left: 50%; ">
                        <img src="~/template/images/user.jpg" height="130" width="130" />
                    </div>
                    <div class="clearfix" style="margin-left: 50%; ">
                        <h3 style="color: #f8c68a">Lucas Santos</h3>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="clearfix">
                <div class="col-sm-6">
                    <div class="body">
                        <div class="right">
                            <h4 class="right" style="color: #f8c68a">Brado Logística</h4>
                            <br />
                            <label class="right align-right" style="color: white">
                                Projeto: Portal WeBrado - Portal do Cliente Padrões e Arquitetura:<br />
                                Banco de Dados: Oracle Database<br />
                                Code Qualiy: SonarQube<br />
                                Frameworks: Sprint Data<br />
                                Front-end: Angular 6, Material Design Mobile<br />
                                Controle de versão: Git, GitLab, SVN Gerenciador de Dependência: Maven,<br />
                                Npm Infra: Docker
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img class="left" src="~/template/images/tecnologias.png" />
                </div>
            </div>
            <br />
            <div class="clearfix">
                <div class="col-sm-6">
                    <div class="body">
                        <div class="right">
                            <h4 class="right" style="color: #f8c68a">Brado Logística</h4>
                            <br />
                            <label class="right align-right" style="color: white">
                                Projeto: Portal WeBrado - Portal do Cliente Padrões e Arquitetura:<br />
                                Banco de Dados: Oracle Database<br />
                                Code Qualiy: SonarQube<br />
                                Frameworks: Sprint Data<br />
                                Front-end: Angular 6, Material Design Mobile<br />
                                Controle de versão: Git, GitLab, SVN Gerenciador de Dependência: Maven,<br />
                                Npm Infra: Docker
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img class="left" src="~/template/images/tecnologias.png" />
                </div>
            </div>
            <br />
            <div class="clearfix">
                <div class="col-sm-6">
                    <div class="body">
                        <div class="right">
                            <h4 class="right" style="color: #f8c68a">Brado Logística</h4>
                            <br />
                            <label class="right align-right" style="color: white">
                                Projeto: Portal WeBrado - Portal do Cliente Padrões e Arquitetura:<br />
                                Banco de Dados: Oracle Database<br />
                                Code Qualiy: SonarQube<br />
                                Frameworks: Sprint Data<br />
                                Front-end: Angular 6, Material Design Mobile<br />
                                Controle de versão: Git, GitLab, SVN Gerenciador de Dependência: Maven,<br />
                                Npm Infra: Docker
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img class="left" src="~/template/images/tecnologias.png" />
                </div>
            </div>
        </div>
        <div class="clearfix" style="margin-bottom: 20px;">
            <div class="body">
                <button class="btn btn-large btn-lg waves-effect right" type="submit" style="margin-left:10px">Compartilhar</button>
            </div>
        </div>
    </div>


